<h1>Horizontal Card</h1>
<div class="grid-container-2">
  <div class="card-horizontal">
    <div class="image aspect-1-1">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 1:1</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-5-4">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 5:4</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-4-3">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 4:3</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-7-5">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 7:5</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-3-2">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 3:2</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-5-3">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 5:3</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>

  <div class="card-horizontal">
    <div class="image aspect-16-9">
      <img
        src="https://mighty-health-attachments.s3.amazonaws.com//tracks/8d33e7f7-839d-4712-a680-3d588600f860/imageUrl/81c48bb5-57ee-4705-82db-d129fe130d68.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h2>Aspect Ratio 16:9</h2>
      <h3>Chair Exercise w/ Lindsay</h3>
      <div class="caption">Lindsay Tullis</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>
</div>
